---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import HeroImage from "../assets/hero-image.png";
import SubscribeImage from "../assets/subscribe.png";
import Bitcoin from "../assets/coin-logos/bitcoin-logo.svg";
import Ethereum from "../assets/coin-logos/ethereum-logo.svg";
import Litecoin from "../assets/coin-logos/litecoin-logo.svg";
import "../app.css";
import Card from "../components/Card.astro";
import Data from "../nft-data.json";

function shuffleArray(array: any[]) {
	// Fisher-Yates shuffle algorithm
	for (let i = array.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[array[i], array[j]] = [array[j], array[i]];
	}
	return array;
}
---

<Layout title="NDNFTs">
	<div
		class="container px-5 md:px-0 mx-auto md:flex gap-8 mt-16 flex-col md:flex-row hidden"
	>
		<div
			class="w-2/3 flex flex-col justify-center gap-5 border-white/30 border-2 rounded-[32px] p-8"
		>
			<h1>
				{Data[0].title}
			</h1>
			<h3>NFT of the day picked by our Team.</h3>
			<div class="flex items-center gap-4">
				<div
					class="w-16 h-16 bg-[url('/defaultauthor.jpg')] bg-cover rounded-full"
				>
				</div>
				<div class="flex flex-col">
					<h4 class="text-white/70 text-xl mb-[-0.5rem]">
						Current Owner
					</h4>
					<h4>Mr. Bluehat</h4>
				</div>
			</div>
			<div class="buttons w-fit flex gap-5 flex-col lg:flex-row">
				<a
					href="/connect"
					class={"text-center relative flex justify-center items-center pt-2 pb-3 px-5 rounded-2xl bg-gradient text-black"}
					><h4>Place a bid</h4></a
				>
				<Button variant="secondary" href="/marketplace"
					>Check out Featured section</Button
				>
			</div>
		</div>
		<div class="hidden w-1/3 md:flex items-center">
			<div class="aspect-square h-auto w-full flex justify-end">
				<Image
					class="w-full rounded-[32px]"
					src="/nft-images/1.jpg"
					width={500}
					height={500}
					alt=""
				/>
			</div>
		</div>
	</div>
	<div class="px-5">
		<div
			class="container mx-auto mt-8 flex flex-col md:flex-row gap-4 justify-between"
		>
			<h2>Browse through the marketplace</h2>
			<div class="flex gap-4">
				<input
					class="bg-transparent border-white/60 border-2 rounded-2xl px-4 w-full md:w-64"
					type="text"
					name="search"
					id="search"
					placeholder="Search..."
				/>
				<Button variant="secondary" href="#">Search</Button>
			</div>
		</div>
		<div
			class="container mx-auto mt-8 border-white/30 border-2 rounded-3xl px-8 pb-8"
		>
			<h3 class="mb-2 mt-5">Most Popular</h3>
			<p class="opacity-80 mb-4">
				Ride the wave of trend and get the most popular NFTs!
			</p>
			<div class="flex gap-8 overflow-x-scroll no-scrollbar">
				{
					Data.map((i) => {
						return (
							<Card
								title={i.title}
								image={`/nft-images/${i.id}.jpg`}
								id={i.id}
								price={i.price}
							/>
						);
					})
				}
			</div>
			<h3 class="mb-2 mt-5">Top Value</h3>
			<p class="opacity-80 mb-4">
				Show off your riches with the most valuable NFTs!
			</p>
			<div class="flex gap-8 overflow-x-scroll no-scrollbar">
				{
					shuffleArray(Data).map((i) => {
						return (
							<Card
								title={i.title}
								image={`/nft-images/${i.id}.jpg`}
								id={i.id}
								price={i.price}
							/>
						);
					})
				}
			</div>
			<h3 class="mb-2 mt-5">Most Rare</h3>
			<p class="opacity-80 mb-4">Get the rarest NFTs!</p>
			<div class="flex gap-8 overflow-x-scroll no-scrollbar">
				{
					shuffleArray(Data).map((i) => {
						return (
							<Card
								title={i.title}
								image={`/nft-images/${i.id}.jpg`}
								id={i.id}
								price={i.price}
							/>
						);
					})
				}
			</div>
			<h3 class="mb-2 mt-5">Newly Minted</h3>
			<p class="opacity-80 mb-4">Grab the latest and greatest NFTs!</p>
			<div class="flex gap-8 overflow-x-scroll no-scrollbar">
				{
					shuffleArray(Data).map((i) => {
						return (
							<Card
								title={i.title}
								image={`/nft-images/${i.id}.jpg`}
								id={i.id}
								price={i.price}
							/>
						);
					})
				}
			</div>
		</div>
	</div>
</Layout>
