---
import LogoImage from "../assets/logo.svg";
import MenuIcon from "../assets/menu.svg";
import { Image } from "astro:assets";
import Button from "./Button.astro";
import CloseIcon from "../assets/close.svg";
import ButtonDeco1 from "../assets/button-deco-tl.svg";
import ButtonDeco2 from "../assets/button-deco-br.svg";
---

<div class="navbar mt-8 flex justify-between">
	<a href="/">
		<div class="logo flex gap-4 items-center">
			<Image
				src={LogoImage}
				height="40"
				width="40"
				alt=""
				loading="eager"
			/>
			<p class="text-3xl tracking-[0.0375rem] font-bold">NDNFTs</p>
		</div>
	</a>

	<nav class="navlinks lg:block hidden">
		<ul class="flex gap-8 font-heading font-semibold text-[1.5rem]">
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="/">Home</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="/marketplace">Marketplace</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Inventory</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Community</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Help</a>
			</ul>
		</ul>
	</nav>
	<div class="flex gap-4">
		<div class="hidden md:flex">
			<Button variant="primary" href="/connect">
				<Image
					src={ButtonDeco1}
					height="24"
					alt=""
					class="absolute top-[-16px] left-[-16px]"
				/>
				Connect Wallet
				<Image
					src={ButtonDeco2}
					height="24"
					alt=""
					class="absolute bottom-[-16px] right-[-16px]"
				/>
			</Button>
		</div>
		<div class="mobile menu-btn lg:hidden" id="menuBtn">
			<Image
				src={MenuIcon}
				height="50"
				width="50"
				alt="navigation menu button"
			/>
		</div>
	</div>
</div>

<div
	class="darkness fixed top-0 left-0 bg-black/50 h-screen w-screen z-10 hidden opacity-0 transition-opacity"
	id="darkness"
>
</div>
<div
	class="nav-menu fixed h-screen top-0 pt-10 right-[-500px] pr-6 pl-10 bg-black shadow-black shadow-2xl z-20 hidden transition-all"
	id="navMenu"
>
	<Image
		src={CloseIcon}
		height={40}
		width={40}
		alt="close navigation menu"
		id="closeBtn"
		class="ml-auto mb-4"
	/>
	<nav class="navlinks">
		<ul
			class="flex items-end flex-col gap-8 font-heading font-semibold text-[1.5rem]"
		>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="/">Home</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="/marketplace">Marketplace</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Inventory</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Community</a>
			</ul>
			<ul class="hover:gradient-text ease-linear transition duration-200">
				<a href="#">Help</a>
			</ul>
		</ul>
	</nav>
</div>

<script>
	const Btn = document.getElementById("menuBtn");
	const closeBtn = document.getElementById("closeBtn");
	const Menu = document.getElementById("navMenu");
	const Darkness = document.getElementById("darkness");
	Btn?.addEventListener("click", () => {
		Menu?.style.setProperty("display", "block");
		Darkness?.style.setProperty("display", "block");
		setTimeout(() => {
			Menu?.style.setProperty("right", "0");
			Darkness?.style.setProperty("opacity", "1");
		});
	});
	closeBtn?.addEventListener("click", () => {
		Menu?.style.setProperty("right", "-500px");
		Darkness?.style.setProperty("opacity", "0");
		setTimeout(() => {
			Menu?.style.setProperty("display", "none");
			Darkness?.style.setProperty("display", "none");
		}, 150);
	});
	Darkness?.addEventListener("click", () => {
		Menu?.style.setProperty("right", "-500px");
		Darkness?.style.setProperty("opacity", "0");
		setTimeout(() => {
			Menu?.style.setProperty("display", "none");
			Darkness?.style.setProperty("display", "none");
		}, 150);
	});
</script>
